USE [master]
GO
/****** Object:  Database [Pokemanz]    Script Date: 10/12/2020 3:54:55 PM ******/
CREATE DATABASE [Pokemanz]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Pokemanz].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Pokemanz]
GO
USE [Pokemanz]
GO
/****** Object:  Table [dbo].[Errors]    Script Date: 10/12/2020 3:54:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Errors](
	[ErrorId] [int] NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[DateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_Errors] PRIMARY KEY CLUSTERED 
(
	[ErrorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Files]    Script Date: 10/12/2020 3:55:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Files](
	[FileId] [int] IDENTITY(1,1) NOT NULL,
	[FileName] [nvarchar](50) NULL,
	[Data] [nvarchar](max) NULL,
 CONSTRAINT [PK_Files] PRIMARY KEY CLUSTERED 
(
	[FileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Scores]    Script Date: 10/12/2020 3:55:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Scores](
	[ScoreId] [int] IDENTITY(1,1) NOT NULL,
	[TrainerId] [int] NOT NULL,
	[Score] [bigint] NULL,
	[TeamId] [int] NOT NULL,
 CONSTRAINT [PK_Scores] PRIMARY KEY CLUSTERED 
(
	[ScoreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teams]    Script Date: 10/12/2020 3:55:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teams](
	[TeamId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[TrainerId] [int] NOT NULL,
	[JSON] [nvarchar](max) NULL,
	[DeleteDate] [datetime] NULL,
 CONSTRAINT [PK_Teams] PRIMARY KEY CLUSTERED 
(
	[TeamId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trainers]    Script Date: 10/12/2020 3:55:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trainers](
	[TrainerId] [int] IDENTITY(1,1) NOT NULL,
	[TrainerHandle] [nvarchar](50) NOT NULL,
	[CurrentTeamId] [int] NULL,
	[DeleteDate] [datetime] NULL,
	[AvatarUrl] [nvarchar](max) NULL,
 CONSTRAINT [PK__Trainers__366A1A7CB2A13F24] PRIMARY KEY CLUSTERED 
(
	[TrainerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10/12/2020 3:55:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](280) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[TrainerId] [int] NULL,
	[LatestVerificationCode] [nvarchar](6) NULL,
	[Aux1] [nvarchar](50) NULL,
	[DeleteDate] [datetime] NULL,
 CONSTRAINT [PK__Users__1788CC4C4AECD177] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Files] ON 

SET IDENTITY_INSERT [dbo].[Files] OFF
SET IDENTITY_INSERT [dbo].[Scores] ON 

INSERT [dbo].[Scores] ([ScoreId], [TrainerId], [Score], [TeamId]) VALUES (3, 3, 500, 16)
INSERT [dbo].[Scores] ([ScoreId], [TrainerId], [Score], [TeamId]) VALUES (4, 4, 600, 18)
INSERT [dbo].[Scores] ([ScoreId], [TrainerId], [Score], [TeamId]) VALUES (5, 5, 700, 19)
SET IDENTITY_INSERT [dbo].[Scores] OFF
SET IDENTITY_INSERT [dbo].[Teams] ON 

SET IDENTITY_INSERT [dbo].[Teams] OFF
SET IDENTITY_INSERT [dbo].[Trainers] ON 

INSERT [dbo].[Trainers] ([TrainerId], [TrainerHandle], [CurrentTeamId], [DeleteDate], [AvatarUrl]) VALUES (1, N'srosy', 1, NULL, N'https://avatars0.githubusercontent.com/u/30061719?s=460&u=7b52a1214d83759f686285f5c27f5093e4fe21e9&v=4')
INSERT [dbo].[Trainers] ([TrainerId], [TrainerHandle], [CurrentTeamId], [DeleteDate], [AvatarUrl]) VALUES (2, N'test1', 0, NULL, NULL)
INSERT [dbo].[Trainers] ([TrainerId], [TrainerHandle], [CurrentTeamId], [DeleteDate], [AvatarUrl]) VALUES (3, N'Lorelei', 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Trainers] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [UserName], [Password], [Email], [FirstName], [LastName], [TrainerId], [LatestVerificationCode], [Aux1], [DeleteDate]) VALUES (1, N'srosy', N'dGVzdA==', N'serosenvall@gmail.com', N'Spencer', N'Rosenvall', 1, NULL, NULL, NULL)
INSERT [dbo].[Users] ([UserId], [UserName], [Password], [Email], [FirstName], [LastName], [TrainerId], [LatestVerificationCode], [Aux1], [DeleteDate]) VALUES (2, N'test1', N'dGVzdA==', N'serosenvall@gmail.com', NULL, NULL, 0, NULL, NULL, NULL)
INSERT [dbo].[Users] ([UserId], [UserName], [Password], [Email], [FirstName], [LastName], [TrainerId], [LatestVerificationCode], [Aux1], [DeleteDate]) VALUES (3, N'Lorelei', N'dGVzdA==', N'serosenvall@gmail.com', NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
ALTER TABLE [dbo].[Trainers] ADD  CONSTRAINT [DF_Trainers_CurrentTeamId]  DEFAULT ((0)) FOR [CurrentTeamId]
GO
ALTER TABLE [dbo].[Scores]  WITH CHECK ADD  CONSTRAINT [FK_Scores_Teams] FOREIGN KEY([TeamId])
REFERENCES [dbo].[Teams] ([TeamId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Scores] CHECK CONSTRAINT [FK_Scores_Teams]
GO
ALTER TABLE [dbo].[Scores]  WITH CHECK ADD  CONSTRAINT [FK_Scores_Trainers] FOREIGN KEY([TrainerId])
REFERENCES [dbo].[Trainers] ([TrainerId])
GO
ALTER TABLE [dbo].[Scores] CHECK CONSTRAINT [FK_Scores_Trainers]
GO
ALTER TABLE [dbo].[Teams]  WITH CHECK ADD  CONSTRAINT [FK_TrainerId_TrainerId] FOREIGN KEY([TrainerId])
REFERENCES [dbo].[Trainers] ([TrainerId])
GO
ALTER TABLE [dbo].[Teams] CHECK CONSTRAINT [FK_TrainerId_TrainerId]
GO
USE [master]
GO
