<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
<style>
    div, h1, h2, h3, h4, h5, a, button, body, p {
        font-family: 'Press Start 2P', cursive;
    }
</style>
<button class="btn btn-primary @(buttonSpan == "block" ? "btn-block" : "")" @onclick="@action"><span class="btn-gameboy gameboy-@buttonType"></span></button>

@code {

    [Parameter] public string buttonType { get; set; } = "ok";
    [Parameter] public string buttonSpan { get; set; } = "inline";
    [Parameter] public EventCallback action { get; set; }

}
