@inject NavigationManager navMan
@inject HttpClient client

<h1 class="text-center">Welcome to POKEMANZ!</h1>
<p class="text-center">Hello there! Welcome to the world of Pokémanz! we're the C# group! People call us the programmers! This world is inhabited by creatures called Pokéman! For some people, Pokéman are pets. Other use them for fights. Ourselves… we use Pokémanz as a project.</p>

@code {

}