@inject NavigationManager navMan;
@inject HttpClient client;
@inject IJSRuntime JSRuntime;
@using Web.Shared.Models

<div class="container-fluid" style="max-width: 50%;">
    <h1 class="text-center">New Team</h1>
    <NewLineupComponent PokemonNames="@PokemonNames"/>
</div>

@code {
    public TrainerModel trainer { get; set; } = new TrainerModel() { Lineups = new List<LineupModel>() };
    private AuthService Auth { get; set; }
    private PokemonService Poke { get; set; }
    public string trainerHandle = string.Empty;

    public List<CheckBox> PokemonNames { get; set; } = new List<CheckBox>(){
        new CheckBox() { Text = "Charizard", Checked = false },
        new CheckBox() { Text = "Articuno", Checked = false },
        new CheckBox() { Text = "Beedrill", Checked = false },
        new CheckBox() { Text = "Vulpix", Checked = false },
        new CheckBox() { Text = "Raticate", Checked = false },
        new CheckBox() { Text = "Pidgeotto", Checked = false },
        new CheckBox() { Text = "Crobat", Checked = false },
        new CheckBox() { Text = "Houndoom", Checked = false }
    };

    // set trainer.team to selected team

    protected override void OnInitialized()
    {
        trainer = new TrainerModel() { Lineups = new List<LineupModel>() };
        Auth = new AuthService();
        Poke = new PokemonService();
    }

    protected override async Task OnInitializedAsync()
    {
        trainerHandle = await Auth.GetCookieAsync(JSRuntime, "Username");

        if (string.IsNullOrEmpty(trainerHandle))
            throw new Exception($"Failed to set TrainerHandle from cookie");

        trainer = await Poke.GetTrainer(client, trainerHandle);
    }

    public class CheckBox
    {
        public bool Checked { get; set; }
        public string Text { get; set; }
    }
}
