@inject NavigationManager navMan
@inject HttpClient client
@using Web.Shared.Models
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
<style>
    div, h1, h2, h3, h4, h5, a, button, body, p {
        font-family: 'Press Start 2P', cursive;
    }
</style>
<div class="row">
    @foreach (var pokemon in Team.Lineup)
    {
        <div class="col-lg-4">
            <PokemonInfoComponent Pokemon="@pokemon"></PokemonInfoComponent>
        </div>
    }
</div>

@code {
    [Parameter] public LineupModel Team { get; set; }
}
