@inject NavigationManager navMan
@inject HttpClient client
@using Web.Shared.Models
@using Web.Client.Components
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
<style>
    div, h1, h2, h3, h4, h5, a, button, body, p {
        font-family: 'Press Start 2P', cursive;
    }
</style>
<table class="table">
    <tbody>
        <tr>
            <th>Trainer ID</th>
            <td>@Trainer.Id</td>
        </tr>
        <tr>
            <th>Trainer name</th>
            <td>@Trainer.Handle</td>
        </tr>
        <tr>
            <th>Trainer high score</th>
            <td>@Trainer.HighScore</td>
        </tr>
    </tbody>
</table>

@if (ShowLineups)
{
    foreach (var lineup in Trainer.Lineups)
    {
        <TeamInfoComponent Team="@lineup"></TeamInfoComponent>
    }
}



@code {

    [Parameter] public TrainerModel Trainer { get; set; }
    [Parameter] public bool ShowLineups { get; set; } = true;
}
