@page "/champion"
@inject NavigationManager navMan
@inject HttpClient client
@using Web.Shared.Models
@using Web.Client.Components

<h1>Champion</h1>

<p>Champion info page that shows the current champion and their lineup</p>

<TrainerInfoComponent Trainer="@ChampionInfo" ShowLineups="true"></TrainerInfoComponent>

@code {

    private TrainerModel ChampionInfo = new TrainerModel();

    protected override async Task OnInitializedAsync()
    {
        //create test champion
        ChampionInfo = new TrainerModel()
        {
            Handle = "Ash",
            HighScore = 1000,
            Id = 1,
            Lineups = new List<LineupModel>()
            {
                new LineupModel()
                {
                    Lineup = new List<PokemonModel>()
                {
                    new PokemonModel() {
                        Name = "Fearow",
                        Types = new List<PokemonType>()
                        {
                            new PokemonType() {Name = "normal" },
                            new PokemonType() {Name = "flying" }
                        },
                        MoveSelections = new List<MoveModel>() {
                            new MoveModel() { Name = "Drill Peck", Type = "flying" },
                            new MoveModel() { Name = "Fly", Type = "flying" },
                            new MoveModel() { Name = "Gust", Type = "flying" },
                            new MoveModel() { Name = "Peck", Type = "flying" }
                        }
                    },
                    new PokemonModel() {
                        Name = "Pikachu",
                        Types = new List<PokemonType>()
                        {
                            new PokemonType() {Name = "electric" }
                        },
                        MoveSelections = new List<MoveModel>() {
                            new MoveModel() { Name = "Thunderbolt", Type = "electric" },
                            new MoveModel() { Name = "Dig", Type = "ground" },
                            new MoveModel() { Name = "Surf", Type = "water" },
                            new MoveModel() { Name = "Quick Attack", Type = "normal" }
                        }
                    },
                    new PokemonModel() {
                        Name = "Blastoise",
                        Types = new List<PokemonType>()
            {
                            new PokemonType() {Name = "water" }
                        },
                        MoveSelections = new List<MoveModel>() {
                            new MoveModel() { Name = "Surf", Type = "water" },
                            new MoveModel() { Name = "Bubble", Type = "water" },
                            new MoveModel() { Name = "water Gun", Type = "water" },
                            new MoveModel() { Name = "Bubblebeam", Type = "water" }
                        }
                    },
                    new PokemonModel() {
                        Name = "Venusaur",
                        Types = new List<PokemonType>()
            {
                            new PokemonType() {Name = "grass" },
                            new PokemonType() {Name = "poison" }
                        },
                        MoveSelections = new List<MoveModel>() {
                            new MoveModel() { Name = "Solar Beam", Type = "grass" },
                            new MoveModel() { Name = "Acid", Type = "poison" },
                            new MoveModel() { Name = "Body Slam", Type = "normal" },
                            new MoveModel() { Name = "Absorb", Type = "grass" }
                        }
                    },
                    new PokemonModel() {
                        Name = "Charizard",
                        Types = new List<PokemonType>()
            {
                            new PokemonType() {Name = "fire" },
                            new PokemonType() {Name = "flying" }
                        },
                        MoveSelections = new List<MoveModel>() {
                            new MoveModel() { Name = "Fire Blast", Type = "fire" },
                            new MoveModel() { Name = "Earthquake", Type = "ground" },
                            new MoveModel() { Name = "Wing Attack", Type = "flying" },
                            new MoveModel() { Name = "Slash", Type = "normal" }
                        }
                    },
                    new PokemonModel() {
                        Name = "Butterfree",
                        Types = new List<PokemonType>()
            {
                            new PokemonType() {Name = "bug" },
                            new PokemonType() {Name = "flying" }
                        },
                        MoveSelections = new List<MoveModel>() {
                            new MoveModel() { Name = "Tackle", Type = "normal" },
                            new MoveModel() { Name = "Gust", Type = "flying" },
                            new MoveModel() { Name = "Psychic", Type = "psychic" },
                            new MoveModel() { Name = "Wing Attack", Type = "flying" }
                        }
                    },

                }
                }
            }
        };

    }
}
