@page "/champion"
@inject NavigationManager navMan
@inject HttpClient client
@inject IJSRuntime JSRuntime;
@using Web.Shared.Models
@using Web.Client.Components
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
<style>
    div, h1, h2, h3, h4, h5, a, button, body, p {
        font-family: 'Press Start 2P', cursive;
    }
</style>
<h1>Champion</h1>

<p>Champion info page that shows the current champion and their lineup</p>

<TrainerInfoComponent Trainer="@ChampionInfo" ShowLineups="true"></TrainerInfoComponent>

@code {

    private TrainerModel ChampionInfo = new TrainerModel();
    public PokemonService Poke { get; set; }
    public AuthService Auth { get; set; }


    protected override void OnInitialized()
    {
        Poke = new PokemonService();
        Auth = new AuthService();
    }

    protected override async Task OnInitializedAsync()
    {
        var trainerHandle = await Auth.GetCookieAsync(JSRuntime, "Username");
        if (string.IsNullOrEmpty(trainerHandle))
        {
            navMan.NavigateTo("login");
        }
        else
        {
            var championAndElite4 = await Poke.GetElite4AndChampion(client); // grabs champion and elite 4, ordered: champion, 4, 3, 2, 1
            ChampionInfo = championAndElite4.First();
        }
    }
}