@page "/"
@page "/home"

@inject NavigationManager navMan
@inject HttpClient client
@inject IJSRuntime JSRuntime

<div class="container-fluid" style="max-width: 50%;">
    <HomeComponent />
    <br />
    <div class="text-center">
        <button class="btn btn-primary" @onclick="Start">Start</button>
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
        JSRuntime.InvokeAsync<string>("PlayMusic", "openingMusic");
        // gonna have small consule error because of auto play, but that's okay
        // https://stackoverflow.com/questions/52963608/getting-error-uncaught-in-promise-domexception-play-failed-because-the-us
    }

    private void Start()
    {
        navMan.NavigateTo("login");
    }
}

