@page "/"
@inject NavigationManager navMan
@inject HttpClient client

<h1>Home</h1>

<p>This is a page where home will be welcoming...etc.</p>
<!-- Create the form... -->
<button class="btn btn-primary" @onclick="Start">Start</button>

@code {
    //public string trainerHandle = string.Empty;


    private void Start()
    {
        Console.WriteLine("Creating new account...");
        navMan.NavigateTo("login");
    }
}
