@page "/login"
@using Web.Shared.Models

@inject NavigationManager navMan
@inject HttpClient client

<div class="container-fluid" style="max-width: 50%;">
    <h1 class="text-center">Login</h1>
    <p class="text-center">Login or Create a New Account</p>

    <!-- LoginForm -->
    <LoginComponent />
</div>


@code {
}
