@page "/scoreboard";
@inject NavigationManager navMan;
@inject HttpClient client;
@inject IJSRuntime JSRuntime;
@using Web.Shared.Models
@using Web.Client.Components
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
<style>
    div, h1, h2, h3, h4, h5, a, button, body, p {
        font-family: 'Press Start 2P', cursive;
    }
</style>

<ScoreboardComponent></ScoreboardComponent>

<button class="btn btn-primary" @onclick="PlayAgain">Play Again?</button>
<button class="btn btn-primary" @onclick="Exit">Exit</button>

@code {
    public AuthService Auth { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var trainerHandle = await Task.Run(async () => await Auth.GetCookieAsync(JSRuntime, "Username"));

        if (string.IsNullOrEmpty(trainerHandle))
        {
            navMan.NavigateTo("login");
        }
    }

    protected override void OnInitialized()
    {
        Auth = new AuthService();
    }

    private void PlayAgain()
    {
        navMan.NavigateTo("team");
    }

    private async Task Exit()
    {
        await AuthService.EraseCookieAsync(JSRuntime, "Username");
        navMan.NavigateTo("home");
    }
}
