@page "/team"
@inject NavigationManager navMan
@inject HttpClient client

<TeamComponent />
<button class="btn btn-primary" @onclick="CreateNewTeam">Create New Team</button>

@code {
    private void CreateNewTeam()
    {
        navMan.NavigateTo("newTeam");
    }
}
