@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html, body {
    background: url("../images/grassbg.png");
}

html, body, h1, h2, h3, h4, h5, h6, div, p, a, button {
    font-family: 'Press Start 2P', cursive !important;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
}

    .main .top-row {
        /*background-color: #f7f7f7;*/
        background: url("../images/navbarbg.png");
        /*border-bottom: 1px solid #d6d5d5;*/
        justify-content: flex-end;
    }

        .main .top-row > a, .main .top-row .btn-link {
            white-space: nowrap;
            margin-left: 1.5rem;
        }

        .main .top-row a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

    .main .border-wrapper {
        border: 6px solid transparent;
        border-image: url("../images/contentbg.png") 6 6 6 6 repeat;
        background-color: #fff;
        padding: 15px;
    }

.sidebar {
    /*background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);*/
}

    .sidebar .top-row {
        /*background-color: rgba(0,0,0,0.4);*/
    }

    .sidebar .navbar-brand {
        margin: auto;
        font-size: 1.1rem;
    }

    .sidebar .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

    .dark-menu {
        border: 6px solid transparent;
        border-image: url("../images/menubg.png") 6 6 6 6 repeat;
        background-color: #285068;
        margin: 10px;
        color: #fff;
    }

    .sidebar .nav-item {
        font-size: 0.9rem;
        padding-bottom: 0.5rem;
    }

        .sidebar .nav-item:first-of-type {
            padding-top: 1rem;
        }

        .sidebar .nav-item:last-of-type {
            padding-bottom: 1rem;
        }

        .sidebar .nav-item a {
            color: #d7d7d7;
            border-radius: 4px;
            height: 3rem;
            display: flex;
            align-items: center;
            line-height: 3rem;
        }

            .sidebar .nav-item a.active {
                background-color: rgba(255,255,255,0.25);
                color: white;
            }

            .sidebar .nav-item a:hover {
                background-color: rgba(255,255,255,0.1);
                color: white;
            }

.navLink {
    background-size: cover;
    background-position: center;
    height: 40px;
    width: 40px;
    margin-right: 15px;
}

.homeNavLink {
    background-image: url("../images/money.png");
}

.loginNavLink {
    background-image: url("../images/money.png");
}

.createNewTrainerNavLink {
    background-image: url("../images/money.png");
}

.teamNavLink {
    background-image: url("../images/pokeball.png");
}

.createNewTeamNavLink {
    background-image: url("../images/pokeball.png");
}

.battleNavLink {
    background-image: url("../images/potion.png");
}

.championNavLink {
    background-image: url("../images/badges.png");
}

.scoreboardNavLink {
    background-image: url("../images/drive.png");
}

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

@media (max-width: 767.98px) {
    .main .top-row:not(.auth) {
        display: none;
    }

    .main .top-row.auth {
        justify-content: space-between;
    }

    .main .top-row a, .main .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 300px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}

.battle-status {
    border: 10px solid transparent;
    background-color: #f8f8d8;
    margin: 0px;
}

    .trainer {
        border-image: url("../images/battlestatustrainer.png") 24 56 36 56 repeat repeat;
    }

    .opponent {
        border-image: url("../images/battlestatusopponent.png") 24 56 36 56 repeat repeat;
    }

.progress {
    background-color: #4a4332 !important;
}

/* Button styles */
.btn-gameboy {
    display: inline-block;
    height: 32px;
    width: 112px;
}
.btn-gameboy:after {
    content: '.';
    visibility: hidden;
}

.gameboy-ok {
    background: url("../images/okbutton.png");
}
.gameboy-back {
    background: url("../images/backbutton.png");
}

/* Types styles */
.type {
    display: inline-block;
    height: 12px;
    width: 32px;
}
.type:after {
    content: '.';
    visibility: hidden;
}

.type-normal {
    background: url("../images/types.png") 0 0;
}
.type-fighting {
    background: url("../images/types.png") -32px 0;
}
.type-flying {
    background: url("../images/types.png") -64px 0;
}
.type-poison {
    background: url("../images/types.png") -96px 0;
}
.type-ground {
    background: url("../images/types.png") 0 -12px;
}
.type-rock {
    background: url("../images/types.png") -32px -12px;
}
.type-bug {
    background: url("../images/types.png") -64px -12px;
}
.type-ghost {
    background: url("../images/types.png") -96px -12px;
}
.type-steel {
    background: url("../images/types.png") 0 -24px;
}
.type-unknown {
    background: url("../images/types.png") -32px -24px;
}
.type-fire {
    background: url("../images/types.png") -64px -24px;
}
.type-water {
    background: url("../images/types.png") -96px -24px;
}
.type-grass {
    background: url("../images/types.png") 0 -36px;
}
.type-electric {
    background: url("../images/types.png") -32px -36px;
}
.type-psychic {
    background: url("../images/types.png") -64px -36px;
}
.type-ice {
    background: url("../images/types.png") -96px -36px;
}
.type-dragon {
    background: url("../images/types.png") 0 -48px;
}
.type-dark {
    background: url("../images/types.png") -32px -48px;
}
